<div class="container section">
  <h2 class="title-bar">Forms</h2>
  <div class="callout note">
    <strong>Note to new parents:</strong> Kind request to all new parents, please download, sign and return "Student registration form" & "Gift Aid declaration form" to CTK.
  </div>
  <p>Download and access CTK forms here.</p>
  <ul>
    <li>
      <a href="assets/ctk/forms/CTKStudentRegistrationForm.pdf" target="_blank" rel="noopener" download>
        Student Registration Form (PDF)
      </a>
    </li>
    <li>
      <a href="assets/ctk/forms/CTKGiftAidDeclaration.pdf" target="_blank" rel="noopener" download>
        Gift Aid Declaration (PDF)
      </a>
    </li>
  </ul>
</div>
